.navbar{
    background-color: #b1b1b193;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 4px; }

.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.navbar-brand{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-brand:hover{
    text-decoration: underline;
}

.user-form{
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.title-leaderboard{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  align-items: center;
  justify-content: flex-start;
}
