.navbar{
    display: flex;
    background-color: #b1b1b193;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 4px; 
    align-items: center;
    justify-content: space-between;
}

.navbar-links{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.navbar-brand{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-brand:hover{
    text-decoration: underline;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    margin-right: 20px;
}

.user-form{
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.title-leaderboard{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.buttons{
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.date-time{
    margin: 0;
    font-size: 1rem;
    color: #555;
    padding-right: 10px;
}