@import url("../variables.css");

.boton{
  display: flex;
  background-color: var(--color-pricipal);
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  &:hover{
    background-color: var(--color-secundario);
    transition: 0.2s;
    color: black;
    }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;      
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;       
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100px;        
  max-width: 50%;      
}

.modal-content button {
  display: block;
  margin: 15px auto;
  font-size: 20px;
  
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
  display: none !important;
}

.datos-usuario {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-left: 32px;
}
.foto-perfil { border-radius: 50%; }
.datos { display: flex; flex-direction: column; }
.usuario { margin-bottom: 8px; }
.info-extra { display: flex; gap: 24px; }
.info-extra h5 { margin: 0; font-weight: normal; }
.post-usuario { padding: 10px; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #b1b1b193;
  border-radius: 10px;
  margin: 10px;
}
.nav-buttons {
  display: flex;
  gap: 10px;
  margin-left: 20px; 
}
.navbar-brand { color: white; text-decoration: none; font-weight: bold; }
.navbar-brand:hover { text-decoration: underline; }
.d-flex form { max-width: 400px; width: 100%; }

.usuario-header {
  display: flex;
  align-items: center;
  gap: 16px;
}
