# CONFIGURACIÓN DEL PROYECTO
# ============================================
# Entorno de ejecución (development o production)
NODE_ENV=development

# API BACKEND
# ============================================
API_PORT=3000

# BASE DE DATOS POSTGRES
# ============================================
DB_HOST=postgres
DB_PORT=5432
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=password
POSTGRES_DB=fydem_db

# CLOUDFLARE TUNNEL (solo para producción)
# ============================================
TUNNEL_TOKEN=cloudflare_token