# Tunel de Cloudflare
TUNNEL_TOKEN=token_cloudflare_tunnel

# Base de datos
POSTGRES_USER=usuario_db
POSTGRES_PASSWORD=pass_db
POSTGRES_DB=nombre_db

# Api
NODE_ENV=production
API_PORT=3000
DB_HOST=postgres
DB_PORT=5432