.navbar-links {
  padding-left: 20px; 
}

.title-leaderboard h1 {
  color: rgb(161, 161, 224);
  text-shadow: 2px 2px 4px rgba(118, 114, 114, 0.3);
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.title-leaderboard h5 {
  font-family: 'Arial', sans-serif;  
  font-size: 1.2rem;
  font-weight: normal;
  color: #507498;
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}


.leaderboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.leaderboard .table-responsive {
  border: 1px solid #dee2e6;
  border-radius: 12px;  
  overflow: hidden;      
  background-color: white; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.table {
  border: 1px solid #dee2e6;          
  margin-bottom: 0;      
  table-layout: auto;   
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.table th, .table td {
  vertical-align: middle;
  border: none;          
  padding: 8px 10px;
  text-align: center; 
}

.table td:nth-child(2), .table th:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}


.table td img {
  width: 30px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}


.table-hover tbody tr {
  transition: background-color 0.3s;
}

.table-hover tbody tr:hover, .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #a8dbf7 !important;
  color: white !important;
}


.table td:nth-child(3), .table th:nth-child(3) {
  padding-left: 5px;
}

