.navbar-links {
  padding-left: 20px; 
}

.title-leaderboard h1 {
  color: rgb(161, 161, 224);
  text-shadow: 2px 2px 4px rgba(118, 114, 114, 0.3);
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.leaderboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.leaderboard h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 15px;
}

.leaderboard .table-responsive {
  border: 1px solid #dee2e6;
  border-radius: 12px;  
  overflow: hidden;      
  background-color: white; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table {
  border: 1px solid #dee2e6;          
  margin-bottom: 0;      
  table-layout: auto;   
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
  border: none;          
}


.table td:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 300px;        
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;  
}

.table td img {
  width: 30px;
  height: auto;
}

.table-hover tbody tr:hover {
  background-color: #f4eeee;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.leaderboard .table-responsive {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.table td:nth-child(2),.table th:nth-child(2) {
  padding-right: 5px; 
}

.table td:nth-child(3),.table th:nth-child(3) {
  padding-left: 5px;   
}
