.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.buttons{
    display: flex;
    gap: 10px;
}

.post-stats{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 0.9rem;
    color: #555;
}

.date-time{
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.like-count, .comment-count{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}
